@use  '../util' as *;

.dest{
    z-index: 0;
    width: 100vw;
    min-height: 100vh;  
    padding-top: rem(88);  
    background: url('../../public/assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoints-up(medium){
        padding-top: rem(136);
        background: url('../../public/assets/destination/background-destination-tablet.jpg') cover no-repeat;
    }

    @include breakpoints-up(large){
        background: url('../../public/assets/destination/background-destination-desktop.jpg') cover no-repeat;
    }

    h5{
        // font-family: var(--barlow);
        // text-transform: uppercase;
        // font-size: rem(16);
        // text-align: center;
        // letter-spacing: rem(2.7);

        // span{
        //     color: #FFFFFF;
        // }

        // @include breakpoints-up(medium){
        //     font-size: rem(20);
        //     letter-spacing: rem(3.38);
        //     text-align: left;
        //     padding-left: rem(40);
        // }   
    }

    &__image{
        position: relative;
        width: rem(170);
        height: rem(170);
        margin-bottom: rem(26);

        @include breakpoints-up(medium){
            width: rem(300);
            height: rem(300);
            margin-bottom: rem(53);
        }
    }


    &__details{

        &-nav{
            margin-bottom: rem(20);

            @include breakpoints-up(medium){
               margin-bottom: rem(32); 
            }
        }

        h2{
            text-align: center;
            font-size: rem(56);
            margin-bottom: rem(16);
            font-family: var(--bellefair);

            @include breakpoints-up(medium){
                font-size: rem(80);
                margin-bottom: rem(30);
            }
        }

        p{
            width: calc(100% - rem(48));
            padding-bottom: rem(33);
            border-bottom: 1px solid white;
            margin: 0 auto;

            @include breakpoints-up(medium){
                width: calc(100% - rem(196));
                padding-bottom: rem(49);
                
            }
        }

        &-numbers{
            margin-top: rem(32);
            span{
                display: block;
                text-transform: uppercase;
            }

            >div{
                &:first-child{
                    margin-bottom: rem(40);
                }
            }

            @include breakpoints-up(medium){
                display: flex;
                align-items: center;
                justify-content: center;

                >div{
                    margin: 0;
                    &:first-child{
                        margin-bottom: 0;
                        margin-right: rem(100);
                    }
                }
            }
        }

        &-number{
            display: flex;
            flex-direction: column;
            align-items: center;

            span{
                &:first-child{
                    color: var(--lavender-blue);
                    font-size: rem(14);
                    letter-spacing: rem(2.36);
                    margin-bottom: rem(12);
                }

                &:last-child{
                    color: white;
                    font-size: rem(28);
                  
                }
            }
        }
    }
}
