@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

p{
  width: calc(100% - rem(48));
  margin: 0 auto;

  @include breakpoints-up(medium){
      width: calc(100% - rem(196));
  }
}


.flex {
  display: flex;

  &-c {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-s {
    justify-content: start;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-s {
    align-items: flex-start;
  }
}

// visibility
.hide-for-mobile {
  @include breakpoints-down(small) {
    display: None;
  }
}

.hide-for-tablet{
  @include breakpoints-up(medium){
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoints-up(large) {
    display: None;
  }
}


// padding
.pad {
  // small left - 8px
  &-l {
    padding-left: rem(31);
    @include breakpoints-up(large) {
      padding-left: rem(164);
    }
  }

  &-r {
    padding-right: rem(31);
    @include breakpoints-up(large) {
      padding-right: rem(164);
    }
  }

  &-lr {
    padding-left: rem(31);
    padding-right: rem(31);

    @include breakpoints-up(large) {
      padding-left: rem(162);
      padding-right: rem(162);
    }
  }
}

