@use '../util' as *;

h1,
h2,
h3, h4 {
	margin: 0;
	line-height: 1.1;
	// font-family: var(--bellefair);
	text-transform: uppercase;
	color: white;
}

h1{
	// font-size: rem(150);
}

h2{
	// font-size: rem(100);
	// font-weight: 56;
}

h3{
	// font-size: rem(56);
}

h4{
	// font-size: rem(32);
}

h5{
	margin-top: 0;
	font-family: var(--barlow);
	color: white;
}

p{
	color: var(--lavender-blue);
	line-height: rem(25);

}



a,
a:visited,
a:active {
	text-decoration: none;
	color: white;
}
